p{
font-family:verdana;
font-size:30;
font-style:italic;
font-weight:bolder;
text-align:center;
}
h1{
	font-size:40;
	font-family:bodoni mt black;
	font-weight:bolder;
	color:C61212;
	text-decoration:underline;
}