table, th, td {
border: 2px dotted blue;
border-collapse: collapse;
padding: 15 px;
background-color: FECC2F;
text-align: center;
}
th {
text-align: center;
font-size:25;
}
h2 {
text-align:center;
}
td{
font-size:25;	
}
h1{
	font-size:40;
	font-family:bodoni mt black;
	font-weight:bolder;
	color:136120;
	text-decoration:underline;
}