li{
font-family:gill sans mt;
font-size:35;
font-style:italic;
font-weight:bolder;
text-align:left;

}
h1{
	font-size:40;
	font-family:bodoni mt black;
	font-weight:bolder;
	color:950670;
	text-decoration:underline;
}